<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">

    <servlet>
        <servlet-name>Controller Servlet</servlet-name>
        <servlet-class>ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller Servlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Area Check Servlet</servlet-name>
        <servlet-class>AreaCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Area Check Servlet</servlet-name>
        <url-pattern>/WEB-INF/check</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenerateScriptServlet</servlet-name>
        <servlet-class>GenerateScriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateScriptServlet</servlet-name>
        <url-pattern>/WEB-INF/generatescript</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResultTableServlet</servlet-name>
        <servlet-class>ResultTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultTableServlet</servlet-name>
        <url-pattern>/WEB-INF/resulttable</url-pattern>
    </servlet-mapping>

</web-app>
